.doctorsInfoDisplay2-container{
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    background-color: #E7CCFF;
}

.doctorsInfoDisplay2-container > img{
    margin-top: 5%;
}

.doctorsInfoDisplay2-wrapper{
display: grid;
justify-items: end;
background-color: #E7CCFF;
}

.doctorsInfoDisplay2-wrapper > h1{
    margin: 9% 0% 3% 22%;
    font-size: 37px;
    font-weight: 400;
}

.doctorsInfoDisplay2-wrapper > div{
    margin: 1% 15%;
}
.doctorsInfoDisplay2-wrapper > div > p{
    padding: 3% 0%;
    font-size: 18px;
}

.doctorsInfoDisplay2-wrapper > button{
    border: none;
    font-size: 25px;
    padding: 1% 3%;
    border-radius: 15px;
    margin: 2% 43% 9% 0%;
    background-color: paleturquoise;
}