.consultancyBanner-container{
    display: grid;
    grid-auto-flow: column;
}

.consultancyBanner-container > img{
    width: 100%;
    background-color:  #E7CCFF;
}

.consultancyBanner-wrapper{
    width: 100%;
    padding: 2% 4%;
    display: grid;
    justify-items: start;
    background-color: #E7CCFF;
}


.consultancyBanner-wrapper > h1{
    margin: 5.5% 0% 1.5% 0%;
    font-size: 33px;
}

.consultancyBanner-wrapper > h4{
    margin-bottom: 3.55%;
    font-weight: 400;
    font-size: 20px;
}

.consultancyBanner-wrapper > button{
    margin-bottom: 5.5%;
    padding: .8% 3.5%;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(67, 214, 62);
    color: white;
    font-weight: 700;
}
.consultancyBanner-wrapper > button:hover{
    transform: scale(1.02);
    background-color: rgb(8, 209, 1);
}

.consultancyBanner-wrapper > p{
    margin-bottom: 3.5%;
}