.consultancyInfoDisplay1-container{
    margin:3% 0%;

}
.consultancyInfoDisplay1-container > h1{
    margin: 3% 2%;
    font-weight: 400;
    font-size: 35px;
    font-weight: 600;
}

.consultancyInfoDisplay1-container > div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin: 2%;
    border: 1px solid rgb(204, 204, 204);
}

.consultancyInfoDisplay1-container > div > div{
    height: 25vh;
}

.consultancyInfoDisplay1-container > div >div >h2{
    display: grid;
    justify-items: center;
    font-weight: 400;
    margin: 8% 0% 3% 0%;
    font-size: 25px;
    /* border: 1px solid orange; */
}

.consultancyInfoDisplay1-container > div >div >p{
    display: grid;
    justify-items: center;
    font-size: 15px;
    /* border: 1px solid orange; */
}