.banner-container{
    padding: 25px;
    display: grid;
    grid-auto-flow: column;
}
.banner-container > img{
    width: 100%;
    height: 55vh;
    background-color: #E7CCFF;
}
.banner-wrapper{
    width: 100%;
    height: 55vh;
    background-color: #E7CCFF;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.banner-mainText{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10%;
}

.banner-subText{
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 10%;
}

.banner-btn{
font-size: 20px;
padding: 10px 25px;
border-radius: 8px;
color: white;
background-color: #B176E9;
border: none;
margin-left: 10%;
transition-duration: 0.4s;
}

.banner-btn:hover{
    background-color: #a94efd;
    transform: scale(1.02);
}